<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% load static %}
   <link rel="stylesheet" href="{% static 'area_diretor/lista.css' %}">
   <title>Lista de Notícias</title>
</head>
<body>
   <main>
       <table>
           <thead>
               <tr>
                   <th>Professor</th>
                   <th>Foto</th>
                   <th>Apagar</th>
               </tr>
           </thead>
           {% for tutoria in tutorias %}
           <tbody>
               <tr>
                   <td>{{ tutoria.title }}</td>
                   <td><img src="{{ tutoria.image.url }}" alt="" style="width: 40%;"></td>
                   <td><a href="{% url 'apagar_tutoria' tutoria.id %}">Apagar</a></td>
               </tr>
           </tbody>
           {% endfor %}
       </table>
   </main>
</body>
</html>