@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;


}


.secondary-bar {
    background-color: #ffd500; /* Example background color */
    height: 50px; /* Example height */
    position: relative; /* Required for positioning child elements */
    width: 36%;
    z-index: 1;
    }
   
    .parallelogram {
    width: 120px; /* Example width */
    height: 63px; /* Example height */
    background-color: #ffd500; /* Example color */
    position: absolute; /* Allows for precise positioning */
    left: 90%; /* Example horizontal positioning */
    clip-path: polygon(62% -9%, 100% 100%, 48% 100%, 0% 0%);
    z-index: 2; /* Ensure this is above .blue */
    }
   
    .yellow-section {
    background-color: #ffd500;
    height: 5%;
    width: 62%;
    position: absolute;
    top: 16%;
    right: 0;
    clip-path: polygon(100% 0%, 100% 100%, 7% 100%, 0% 0%);
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    padding: 0 1rem;
    z-index: 1;
    }
   
    .inicio {
     margin: 8px;
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    display: flex;
    align-items: center;
    }
   
    .inicio i {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
    width: 20px;
    }
   
    .inicio:hover {
    color: #003d7a; /* Cor do texto ao passar o mouse */
    }
   
    .triangulo{
    width: 130px;
    height: 120px;
    background-color: #1C69D1;
    position: absolute;
    left: 49%;
    clip-path: polygon(162% -40%, 96% -2%, 45% 94%, 6% -1%);
    z-index: 1;
    top: 1%;
    }
    .triangulo-2{
    width: 130px;
    height: 90px;
    background-color: #1C69D1;
    position: absolute;
    left: 49%;
    clip-path: polygon(29% -43%, 74% 85%, 20% 97%, 57% -40%);
    z-index: 1;
    top: 10%;
    }
    .blue {
    background-color: #005bbb;
    height: 8%;
    width: 94%;
    position: absolute;
    top: 1%;
    right: 0;
    clip-path: polygon(112% 3%, 115% 50%, 0% 447%, 36% -46%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 0;
    }
   
    .blue-2 {
    background-color: #005bbb;
    height: 7%;
    width: 70%;
    position: absolute;
    top: 9%;
    right: 0;
    clip-path: polygon(100% 0%, 100% 100%, 9% 105%, 0% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 0;
    }
    .blue-1{
    top: 4%;
    background-color: #005bbb;
    height: 50px;
    position: absolute;
    width: 22%;
    z-index: 1;
    clip-path: polygon(100% -8%, 86% 100%, -6% 105%, 0% 0%);
    }
    .topo-asn {
      top: 8%;
    position: absolute;
    left: 46%;
         color: #fff;
         font-size: 1.2rem; /* Adjust the font size as needed */
         text-align: center; /* Center text horizontally */
         flex-grow: 1;
         z-index: 1;
         font-family: Arial, sans-serif;
     }
   
    .logo{
    position: absolute;
    top: -1%;
    left: 84%;
    width: 130px; /* Set the logo size */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Adjust this value to lower the image */
    z-index: 1;
   
     }


                                        /*FOOTER*/
footer {
   position: relative;
margin-top: 100px;
background-color: #fff;
color: black;
text-align: center;
position: relative;
padding: 20px 0; /* Ajusta o espaçamento interno do footer */
overflow: hidden; /* Garante que o conteúdo não vaze do footer */
}




.footer-container {
position: relative;
z-index: 1;


}
.yellow-section-footer {
background-color: #004AAD;
height: 15%;
width: 48%;
position: absolute;
top: 3%;
right: 0;
clip-path: polygon(100% 0%, 100% 100%, 6% 100%, 0% 0%);
display: flex;
align-items: center;
justify-content: flex-end; /* Alinha o conteúdo à direita */
padding: 0 1rem;
z-index: 1;
}
.blue-footer {
background-color: #1C69D1;
height: 19%;
width: 50%;
position: absolute;
top: 10%;
left: 46%;
transform: translateX(-50%);
clip-path: polygon(112% 3%, 115% 50%, 0% 439%, 36% -46%);
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
z-index: 0;
}




.blue-2-footer {
background-color: #1C69D1;
height: 18%;
width: 38%;
position: absolute;
top: 28%;
left: 52%;
transform: translateX(-50%);
clip-path: polygon(100% 0%, 100% 100%, 9% 105%, 1.6% 0%);
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
z-index: 0;
}
.footer-info{
   position: relative;
bottom: 25px;
gap: 20px;
margin: 15px;
}
.footer-social {
position: relative;
bottom: 25px;
gap: 20px;
margin: 15px;
}




.footer-social a {
color: black;
font-size: 24px;
}


#whatsapp a {
color: #fff;
font-size: 24px
}




#whatsapp:hover{
transition: color 0.3s ease;
color: rgb(149, 248, 82);
   transition: color 0.3s ease;




}




#instagram a {
color: #fff;
font-size: 24px


}




#instagram:hover{
transition: color 0.3s ease;
color: rgb(241, 136, 50);
}




.footer-logo {
 position: relative;
top: -35px; /* Ajuste o valor conforme necessário */
margin-bottom: 10px; /* Espaçamento abaixo da imagem, ajuste conforme necessário */
}


.secondary-bar-rodape {
   background-color: #004AAD; /* Example background color */
   height: 50px; /* Example height */
   position: relative; /* Required for positioning child elements */
   width: 36%;
   z-index: 1;
 }


 .parallelogram-rodape {
   width: 120px; /* Example width */
   height: 73px; /* Example height */
   background-color: #004AAD; /* Example color */
   position: absolute; /* Allows for precise positioning */
   left: 90%; /* Example horizontal positioning */
   clip-path: polygon(62% -9%, 100% 100%, 48% 100%, 0% 0%);
   z-index: 2; /* Ensure this is above .blue */
 }


                                       /* CARDAPIO */
.regulares{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
  
}


.imagebar img{
   width: 100%;
}


.titleRegular{
   display: flex;
   position: relative;
   align-items: center;
   margin-top: 5%;
   flex-wrap: wrap;
   flex-direction: column;
}


.NoIdeaForClassName{
   display: flex;
   position: relative;
   align-items: center;
   margin-top: 5%;
   flex-wrap: wrap;
   flex-direction: column;
}


.cardRegular{
   height: 305px;
   background-color: white;
   border: solid #d0a933 12px;
   border-radius: 44px;
   padding: 15px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   align-items: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}


.cardRegular img{
   align-self: center;
   width: 100px;
   margin-top: 10px;
}
h3{
   padding: 10px;
}
.textRegular{
   align-items: center;
   display: flex;
   flex-direction: column; /* Para alinhar os itens em coluna */
   align-items: center;    /* Centraliza horizontalmente */
   justify-content: center; /* Centraliza verticalmente */
   text-align: center;      /* Centraliza o texto */
}






.MenuTurmas{
   display: flex;
   flex-direction: row-reverse;
   margin: 20px;
}


.side-bar {
   background: #fff;
   backdrop-filter: blur(15px);
   width: 290px; /* Largura da sidebar */
   height: 100vh; /* Altura total da viewport */
   position: fixed;
   top: 0;
   left: -100%; /* Inicialmente fora da tela */
   overflow-y: auto; /* Permitir rolagem se necessário */
   transition: 0.6s ease;
   transition-property: left;
   z-index: 1000; /* Para garantir que a sidebar fique acima de outros elementos */
   box-shadow: 3px 0 0 black;
}


.side-bar.active {
   left: 0; /* Move para a posição visível quando ativo */
}


.side-bar .menu {
   width: 100%;
   margin-top: 80px; /* Espaço para o cabeçalho, se houver */
}


.side-bar .menu .item {
   position: relative;
   cursor: pointer;
}


.side-bar .menu .item a {
   font-family: Arial, Helvetica, sans-serif;
   color: black; /* Cor do texto */
   font-size: 16px;
   text-decoration: none;
   display: block;
   padding: 5px 30px; /* Espaçamento em torno do texto */
   line-height: 60px; /* Altura da linha para centralização */
}


.side-bar .menu .item a:hover {
   background: rgb(189, 189, 253); /* Cor de fundo ao passar o mouse */
   transition: 0.3s ease; /* Transição suave para a cor de fundo */
}


.side-bar .menu .item i {
   margin-right: 15px; /* Espaçamento entre ícone e texto */
}


.close-btn {
   position: absolute;
   color: black; /* Cor do botão de fechar */
   font-size: 30px;
   right: 0;
   margin: 25px; /* Espaçamento */
   cursor: pointer; /* Cursor em forma de mão */
}


.menu-btn {
   position: absolute;
   color: black; /* Cor do botão do menu */
   font-size: 20px;
   margin: 25px; /* Espaçamento */
   cursor: pointer; /* Cursor em forma de mão */
}
.side-bar .asn {
   width: 130px; /* Define o tamanho da imagem para 10% da largura da sidebar */
   display: block; /* Garante que a imagem se comporte como um bloco */
   margin: 8px auto; /* Centraliza a imagem e adiciona espaçamento */
}
.cardapio{
   position: relative;
   top: 150px;
}










.regularCards {
   display: none; /* Hide cards initially */
}


#regular{
   display: block;
}
.regularCards.show {
   display: block; /* Show cards when they match the selected shift */
}


                                        /*FOOTER*/
footer {
position: relative;
margin-top: 200px;
background-color: #fff;
color: black;
text-align: center;
position: relative;
padding: 20px 0; /* Ajusta o espaçamento interno do footer */
overflow: hidden; /* Garante que o conteúdo não vaze do footer */
}




.footer-container {
position: relative;
z-index: 1;


}
.yellow-section-footer {
background-color: #004AAD;
height: 15%;
width: 48%;
position: absolute;
top: 3%;
right: 0;
clip-path: polygon(100% 0%, 100% 100%, 6% 100%, 0% 0%);
display: flex;
align-items: center;
justify-content: flex-end; /* Alinha o conteúdo à direita */
padding: 0 1rem;
z-index: 1;
}
.blue-footer {
background-color: #1C69D1;
height: 19%;
width: 50%;
position: absolute;
top: 10%;
left: 46%;
transform: translateX(-50%);
clip-path: polygon(112% 3%, 115% 50%, 0% 439%, 36% -46%);
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
z-index: 0;
}




.blue-2-footer {
background-color: #1C69D1;
height: 18%;
width: 38%;
position: absolute;
top: 28%;
left: 52%;
transform: translateX(-50%);
clip-path: polygon(100% 0%, 100% 100%, 9% 105%, 1.6% 0%);
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
z-index: 0;
}
.footer-info{
   position: relative;
bottom: 25px;
gap: 20px;
margin: 15px;
}
.footer-social {
position: relative;
bottom: 25px;
gap: 20px;
margin: 15px;
}




.footer-social a {
color: black;
font-size: 24px;
}


#whatsapp a {
color: #fff;
font-size: 24px
}




#whatsapp:hover{
transition: color 0.3s ease;
color: rgb(149, 248, 82);
   transition: color 0.3s ease;




}




#instagram a {
color: #fff;
font-size: 24px


}




#instagram:hover{
transition: color 0.3s ease;
color: rgb(241, 136, 50);
}




.footer-logo {
 position: relative;
top: -35px; /* Ajuste o valor conforme necessário */
margin-bottom: 10px; /* Espaçamento abaixo da imagem, ajuste conforme necessário */
}


.secondary-bar-rodape {
   background-color: #004AAD; /* Example background color */
   height: 50px; /* Example height */
   position: relative; /* Required for positioning child elements */
   width: 36%;
   z-index: 1;
 }


 .parallelogram-rodape {
   width: 120px; /* Example width */
   height: 73px; /* Example height */
   background-color: #004AAD; /* Example color */
   position: absolute; /* Allows for precise positioning */
   left: 90%; /* Example horizontal positioning */
   clip-path: polygon(62% -9%, 100% 100%, 48% 100%, 0% 0%);
   z-index: 2; /* Ensure this is above .blue */
 }








/* MEDIAS */


/* Para tela de cromebook */
@media (max-width: 1400px){
   .secondary-bar {
background-color: #ffd500; /* Example background color */
height: 50px; /* Example height */
position: relative; /* Required for positioning child elements */
width: 36%;
z-index: 1;
}


.parallelogram {
width: 120px; /* Example width */
height: 63px; /* Example height */
background-color: #ffd500; /* Example color */
position: absolute; /* Allows for precise positioning */
left: 86%; /* Example horizontal positioning */
clip-path: polygon(62% -9%, 100% 100%, 48% 100%, 0% 0%);
z-index: 2; /* Ensure this is above .blue */
}


.yellow-section {
background-color: #ffd500;
height: 8%;
width: 62%;
position: absolute;
top: 20%;
right: 0;
clip-path: polygon(100% 0%, 100% 100%, 7% 100%, 0% 0%);
display: flex;
padding: 0 1rem;
z-index: 1;
}
.triangulo{
width: 120px;
height: 84px;
background-color: #1C69D1;
position: absolute;
left: 49%;
clip-path: polygon(162% -40%, 96% -2%, 45% 94%, 6% -1%);
z-index: 1;
top: 1%;
}
.triangulo-2{
width: 120px;
height: 52px;
background-color: #1C69D1;
position: absolute;
left: 49%;
clip-path: polygon(29% -43%, 74% 85%, 20% 97%, 57% -40%);
z-index: 1;
top: 13%;
}
.blue {
background-color: #005bbb;
height: 8%;
width: 94%;
position: absolute;
top: 1%;
right: 0;
clip-path: polygon(112% 3%, 115% 50%, 0% 447%, 36% -46%);
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
z-index: 0;
}


.blue-2 {
background-color: #005bbb;
height: 11%;
width: 70%;
position: absolute;
top: 9%;
right: 0;
clip-path: polygon(100% 0%, 100% 100%, 9% 105%, 0% 0%);
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
z-index: 0;
}
.blue-1{
top: 5%;
background-color: #005bbb;
height: 50px;
position: absolute;
width: 22%;
z-index: 1;
clip-path: polygon(100% -8%, 86% 100%, -6% 105%, 0% 0%);
}
.topo-asn {
position: absolute;
left: 46%;
 color: #fff;
 font-size: 1.2rem; /* Adjust the font size as needed */
 text-align: center; /* Center text horizontally */
 flex-grow: 1;
 z-index: 1;
}


.logo {
position: absolute;
top: -6%;
left: 84%;
width: 130px; /* Set the logo size */
height: auto; /* Maintain aspect ratio */
margin-top: 20px; /* Adjust this value to lower the image */
z-index: 1;


}


}




@media (max-width: 900px) {
   .blue {
      top: 0;
      width: 100%;
      height: 20%;
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
      display: flex;
  }
  .topo-asn {
      top: 8%;
      position: absolute;
      left: 5%;
      font-size: 1rem;
      flex-grow: 0;
  }
  .logo {
      position: absolute;
      left: 71%;
      width: 130px;
      margin-top: 20px;
  }
  .yellow-section {
      width: 100%;
      clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
  }




  .blue-1, .blue-2, .secondary-bar, .triangulo, .triangulo-2 {
      display: none;
  }
  footer {
      background-color: #004080;
      color: white;
      text-align: center;
      margin-top: 150px; /* Ajusta a margem superior para garantir espaço suficiente */
  }




  .footer-social {
      position: relative;
      bottom: 10px;
      gap: 20px;
      margin: 5px;
  }




  .footer-social a {
      color: #fff;
      font-size: 24px;
  }




  #youtube a {
      color: #fff;
      font-size: 24px;
  }




  #youtube:hover {
      transition: color 0.3s ease;
      color: rgb(241, 111, 111);
  }




  #twitter a {
      color: #fff;
      font-size: 24px;
  }




  #twitter:hover {
      transition: color 0.3s ease;
      color: rgb(131, 178, 231);
  }




  #tiktok a {
      color: #fff;
      font-size: 24px;
  }




  #tiktok:hover {
      transition: color 0.3s ease;
      color: rgb(149, 248, 82);
  }




  #instagram a {
      color: #fff;
      font-size: 24px;
  }




  #instagram:hover {
      transition: color 0.3s ease;
      color: rgb(241, 136, 50);
  }




  .blue-2-footer, .blue-footer, .parallelogram-rodape, .secondary-bar-rodape, .yellow-section-footer, .footer-logo {
      display: none;
  }
}


@media(max-width: 500px){
   .logo{
      position: absolute;
      width: 18%;
      margin-top: 29px;
  }
}


@media (max-width: 480px) {
   .logo{
    position: absolute;
    width: 21%;
    margin-top: 29px;
}
.topo-asn{
    font-size: .8em;
}
}


