<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Cardápio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cardapio/adicionar.css' %}">
    <link rel="stylesheet" href="{% static 'adicionar.css' %}">
</head>
<body>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </section>
    <div class="container">
        <div class="form-container">
            <h1>Adicionar Novo Cardápio</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_nome_semana">Nome da Semana</label>
                    {{ form.nome_semana }}
                </div>

                <div class="form-group">
                    <label for="id_foto_cardapio">Foto do Cardápio</label>
                    {{ form.foto_cardapio }}
                </div>

                <div class="form-group">
                    <label for="id_nome_comida">Nome da Comida</label>
                    {{ form.nome_comida }}
                </div>

                <div class="form-group">
                    <label for="id_data_cardapio">Data do Cardápio</label>
                    {{ form.data_cardapio }}
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn-primary">Salvar</button>
                    <a href="{% url 'lista_cardapios' %}" class="btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
    <div class="cursor"></div>
   <script>
     // script.js
    
     const cursor = document.querySelector('.cursor');
    
     // Função para ativar o efeito de movimento do cursor
     document.addEventListener('mousemove', (e) => {
       cursor.style.left = `${e.pageX}px`;
       cursor.style.top = `${e.pageY}px`;
       cursor.classList.add('active'); // Adiciona a classe 'active' para aumentar o cursor
    
       // Reseta a classe 'inactive' quando o mouse está em movimento
       cursor.classList.remove('inactive');
       cursor.classList.remove('out');
    
       // Reinicia o temporizador de inatividade
       resetInactiveTimer();
     });
    
     // Função para esconder o cursor ao sair da janela
     document.addEventListener('mouseout', () => {
       cursor.classList.add('out'); // Adiciona a classe 'out' para esconder o cursor
     });
    
     // Timer para identificar inatividade do mouse
     let inactiveTimer;
    
     function resetInactiveTimer() {
       clearTimeout(inactiveTimer);
       inactiveTimer = setTimeout(() => {
         cursor.classList.add('inactive'); // Adiciona a classe 'inactive' quando o mouse para
       }, 1000); // 1 segundo de inatividade
     }
   </script>
</body>
</html>
