<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Lista de Cardápios</h2>
<a href="{% url 'adicionar_cardapio' %}">Adicionar Novo Cardápio</a>
<ul>
    {% for cardapio in cardapios %}
        <li>
            {{ cardapio.nome_semana }} - {{ cardapio.nome_comida }} - {{ cardapio.data_cardapio }}
            <a href="{% url 'editar_cardapio' cardapio.id %}">Editar</a>
            <a href="{% url 'apagar_cardapio' cardapio.id %}">Apagar</a>
        </li>
    {% endfor %}
</ul>

<ul>
    {% for regularlanche in regularlanches %}
    <li>
        <img src="{{ regularlanche.imagem.url }}" alt="">
        {{ regularlanche.nome_dia_semana }} - {{ regularlanche.nome_comida }} - {{ regularlanche.data_cardapio }}
        <a href="{% url 'editar_regularlanche' regularlanche.pk %}">Editar</a>
        <a href="{% url 'apagar_regularlanche' regularlanche.pk %}">Apagar</a>
    </li>
    {% endfor %}
</ul>

<ul>
    {% for regularalmoco in regularalmocos %}
    <li>
        <img src="{{ regularalmoco.imagem.url }}" alt="">
        {{ regularalmoco.nome_dia_semana }} - {{ regularalmoco.nome_comida }} - {{ regularalmoco.data_cardapio }}
        <a href="{% url 'editar_regularalmoco' regularalmoco.pk %}">Editar</a>
        <a href="{% url 'apagar_regularalmoco' regularalmoco.pk %}">Apagar</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>