<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Cardapio</title>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8" ></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   <link href="https://fonts.cdnfonts.com/css/playlist" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Qwitcher+Grypen:wght@400;700&family=Varela+Round&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   {% load static %}
 <link rel="stylesheet" href="{% static 'cardapio/cardapio.css' %}">
</head>
<body>
   <header class="topo">
       <div class="secondary-bar secondary-bar-top">
           <div class="parallelogram parallelogram-1"></div>
       </div>
       <div class="blue-1"></div>
       <div class="blue"></div>
       <div class="triangulo"></div>
       <div class="triangulo-2"></div>
       <h1 class="topo-asn">EEEFM ANTONIO DOS SANTOS NEVES</h1>
       <img class="logo" src="https://images.sympla.com.br/65087b3baa195-lg.png" alt="Logo">
       <div class="blue-2"></div>
       <div class="yellow-section">
       </div>
   </header>


    <!--MENU DE TURMAS-->


<div class="cardapio">
    <div class="MenuTurmas">
       <i class="fa-solid fa-bars menu-btn" id="menu-icon" style="scale: 2; cursor: pointer;"></i>
   </div>
  
   <!-- Sidebar -->
   <nav class="side-bar" id="menu">
       <div class="close-btn" id="close-icon">&times;</div>
       <div class="menu">
           <div class="item">
               <a href="#" onclick="showMenu('regular')">Integral</a>
           </div>
           <div class="item">
               <a href="#" onclick="showMenu('integrado')">Integrado</a>
           </div>
           <div class="item">
               <a href="#" onclick="showMenu('integral')">Regular</a>
           </div>
           <div class="item">
               <a href="#" onclick="showMenu('fundamental')">Fundamental</a>
           </div>
           <div class="item">
               <a href="#" onclick="showMenu('eja')">Eja</a>
           </div>
           <div class="item">
            <a href="{% url 'calendario' %}">Calendário</a>
        </div>
       </div>
       <img class="asn" src="https://images.sympla.com.br/65087b3baa195-lg.png" alt="">
   </nav>
  






  
   <div class="titleRegular">
       <h1> Explore nosso  <span style="font-family: 'Playlist', sans-serif; color:#d0a933">#Cardapio Escolar !</span></h1>
   </div>


   <section class="imagebar">
       <img src="../../../media/barra.png" alt="">
   </section>


   <div class="NoIdeaForClassName">
       <h1 style="font-family: 'Playlist', sans-serif; color:#d0a933"class="regularCards regular" id="regular">
           Integral
       </h1>
      
       <h1 style="font-family: 'Playlist', sans-serif; color:#d0a933"class="regularCards integrado"  >
           Integrado Lanche
       </h1>


       <h1 style="font-family: 'Playlist', sans-serif; color:#d0a933"class="regularCards integral"  >
           Regular
       </h1>


       <h1 style="font-family: 'Playlist', sans-serif; color:#d0a933"class="regularCards fundamental"  >
           Fundamental
       </h1>


       <h1 style="font-family: 'Playlist', sans-serif; color:#d0a933"class="regularCards eja" >
           EJA
       </h1>
   </div>
<!--regular lanche----------------------------------------------------------------------------->
   <section class="sectionRegular" id="Regular">
       <div class="regulares">
           <!-- Monday Card -->
           {% for regularlanche in regularlanches %}
           <div class="regularCards regular" id="regular" style="font-family: Arial, Helvetica, sans-serif;">
               <h2 class="textRegular">{{ regularlanche.nome_dia_semana }}</h2>
               <div class="cardRegular">
                   <img src="{{ regularlanche.imagem.url }}" alt="Placeholder">
                   <h3>{{ regularlanche.nome_comida }}</h3>
                   <h3>{{ regularlanche.data_cardapio }}</h3>
               </div>
           </div>
           {% endfor %}
           
       </div>
   </section>   
<!--regular almoço----------------------------------------------------------------------------->
<section class="sectionRegular" id="Regular">
    <div class="NoIdeaForClassName">
        <h1 style="font-family: 'Playlist', sans-serif; color:#d0a933"class="regularCards regular" id="regular">
            Integral Almoço
        </h1>
    </div>
       <div class="regulares">
           <!-- Monday Card -->
           {% for regularalmoco in regularalmocos %}
           <div class="regularCards regular" id="regular" style="font-family: Arial, Helvetica, sans-serif;">
               <h2 class="textRegular">{{ regularalmoco.dia_da_semana }}</h2>
               <div class="cardRegular">
                   <img src="{{ regularalmoco.imagem.url }}" alt="Placeholder" style="width: 65px;">
                   <h3>{{ regularalmoco.nome_da_comida }}</h3>
                   <h3>{{ regularalmoco.data_do_cardapio }}</h3>
               </div>
           </div>
           {% endfor %}           
       </div>
   </section>
<!--integrado----------------------------------------------------------------------------->
   <section class="sectionRegular" id="integrado">
       <div class="regulares" id="integrado">
           <!-- Monday Card -->
           {% for cardapio in cardapios %}
           <div class="regularCards integrado" style="font-family: Arial, Helvetica, sans-serif;">
               <h2 class="textRegular">{{ cardapio.nome_semana }}</h2>
               <div class="cardRegular">
                   <img src="{{ cardapio.foto_cardapio.url }}" alt="Placeholder" style="width: 65px;">
                   <h3>{{ cardapio.nome_comida }}</h3>
                   <h3>{{ cardapio.data_cardapio }}</h3>
               </div>
           </div>
            {% endfor %}
           
       </div>
   </section>
<!--integral------------------------------------------------------------------------------------>
<section class="sectionRegular" id="integral">
    <div class="regulares">
        <!-- Monday Card -->
        {% for regularlanche in regularlanches %}
           <div class="regularCards integral" style="font-family: Arial, Helvetica, sans-serif;">
               <h2 class="textRegular">{{ regularlanche.nome_dia_semana }}</h2>
               <div class="cardRegular">
                   <img src="{{ regularlanche.imagem.url }}" alt="Placeholder">
                   <h3>{{ regularlanche.nome_comida }}</h3>
                   <h3>{{ regularlanche.data_cardapio }}</h3>
               </div>
           </div>
           {% endfor %}
    </div>
</section> 
<!--fundamental lanche-------------------------------------------------------------------------------------->
<section class="sectionRegular" id="fundamental">
    <div class="regulares">
         <!-- Monday Card -->
         {% for regularlanche in regularlanches %}
         <div class="regularCards fundamental" id="fundamental" style="font-family: Arial, Helvetica, sans-serif;">
             <h2 class="textRegular">{{ regularlanche.nome_dia_semana }}</h2>
             <div class="cardRegular">
                 <img src="{{ regularlanche.imagem.url }}" alt="Placeholder">
                 <h3>{{ regularlanche.nome_comida }}</h3>
                 <h3>{{ regularlanche.data_cardapio }}</h3>
             </div>
         </div>
         {% endfor %}
    </div>
</section>

<!--fundamental almoço-------------------------------------------------------------------------------------->
<section class="sectionRegular" id="fundamental">
    <div class="NoIdeaForClassName">
        <h1 style="font-family: 'Playlist', sans-serif; color:#d0a933; font-size: 2em;"class="regularCards fundamental">
            Fundamental Almoço
        </h1>
    </div>
    <div class="regulares">
         <!-- Monday Card -->
         {% for regularalmoco in regularalmocos %}
         <div class="regularCards fundamental" id="fundamental" style="font-family: Arial, Helvetica, sans-serif;">
             <h2 class="textRegular">{{ regularalmoco.dia_da_semana }}</h2>
             <div class="cardRegular">
                 <img src="{{ regularalmoco.imagem.url }}" alt="Placeholder" style="width: 65px;">
                 <h3>{{ regularalmoco.nome_da_comida }}</h3>
                 <h3>{{ regularalmoco.data_do_cardapio }}</h3>
             </div>
         </div>
         {% endfor %}
    </div>
</section>

<!--EJA--------------------------------------------------------------------------------------------->
   <section class="sectionRegular" id="eja">
       <div class="regulares">
           <!-- Monday Card -->
           {% for eja in ejacardapio %}
           <div class="regularCards eja" style="font-family: Arial, Helvetica, sans-serif;">
               <h2 class="textRegular">{{ eja.dia_da_semana }}</h2>
               <div class="cardRegular">
                   <img src="{{ eja.imagem.url }}" alt="Placeholder" style="width: 65px;">
                   <h3>{{ eja.nome_da_comida }}</h3>
                   <h3>{{ eja.data_do_cardapio }}</h3>
               </div>
           </div>
            {% endfor %}
       </div>
   </section>
</div>
   <footer class="custom-footer bg-body-tertiary text-center text-lg-start">
       <div class="secondary-bar-rodape">
           <div class="parallelogram-rodape"></div>
       </div>
       <div class="blue-2-footer" ></div>
           <div class="blue-footer" ></div>
       <div class="yellow-section-footer"></div>
       <div class="footer-bar">
           <div class="footer-container">
               <div class="footer-logo">
                   <img src="https://images.sympla.com.br/65087b3baa195-lg.png" alt="ASN Logo" style="width: 8%;" />
               </div>
               <div class="footer-social">
                   <a href="#"><i class="bi bi-instagram" id="instagram"></i></a>
                   <a href="#"><i class="bi bi-whatsapp" id="whatsapp"></i></a>
               </div>
               <div class="footer-info">
                   <p><strong>ANTONIO DOS SANTOS NEVES (ASN)</strong></p>
                   <p>Avenida Democrata - Centro</p>
                   <p>CEP: 29845-000 - Boa Esperança - ES</p>
                   <p>Tel: (27) 1234-5678</p>
               </div>
           </div>
       </div>
     </footer>
     <script>
        // Handles dropdown menu visibility
   document.addEventListener('DOMContentLoaded', function () {
   const menuIcon = document.getElementById('menu-icon');
   const closeIcon = document.getElementById('close-icon');
   const menu = document.getElementById('menu');


   // Toggle the menu on icon click
   menuIcon.addEventListener('click', function () {
       menu.classList.add('active');
   });


   // Close the menu when clicking the close icon
   closeIcon.addEventListener('click', function () {
       menu.classList.remove('active');
   });


   // Close the menu when clicking outside
   document.addEventListener('click', function (event) {
       if (!menu.contains(event.target) && !menuIcon.contains(event.target)) {
           menu.classList.remove('active');
       }
   });
});


// Function to show the selected menu section
function showMenu(menuId) {
   // Hide all card sections initially
   const sections = document.querySelectorAll('.regularCards');
   sections.forEach(function (section) {
       section.style.display = 'none';
   });


   // Show only the relevant section based on the selected menuId
   const selectedSection = document.querySelectorAll(`.${menuId}`);
   selectedSection.forEach(function (section) {
       section.style.display = 'block';
   });
}

document.addEventListener('DOMContentLoaded', function () {
    // Seleciona todos os elementos <h3>
    const headings = document.querySelectorAll('h3');

    headings.forEach((heading) => {
        const words = heading.innerHTML.split(' '); // Divide o texto em palavras
        let formattedText = '';

        // Adiciona uma quebra de linha a cada duas palavras
        words.forEach((word, index) => {
            formattedText += word + ' ';
            if ((index + 1) % 2 === 0) {
                formattedText += '<br>';
            }
        });

        heading.innerHTML = formattedText.trim(); // Substitui o conteúdo do <h3>
    });
});

     </script>
</body>
</html>


