<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Notícia 1</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cardapio/adicionar.css' %}">
    <link rel="stylesheet" href="{% static 'adicionar.css' %}">
</head>
<body>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </section>
    <div class="container">
        <div class="form-container">
            <h1>Adicionar Notícia 1</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_nome_semana">Título</label>
                    {{ form.title }}
                </div>

                <div class="form-group">
                    <label for="id_foto_cardapio">Imagem</label>
                    {{ form.image }}
                </div>

                <div class="form-group">
                    <label for="id_nome_comida">Descrição</label>
                    {{ form.description1 }}
                </div>

                <div class="form-group">
                    <label for="id_data_cardapio">Descrição</label>
                    {{ form.description2 }}
                </div>
                <div class="form-group">
                    <label for="id_data_cardapio">Data</label>
                    {{ form.data_publicacao }}
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn-primary">Salvar</button>
                    <a href="{% url 'area_diretor' %}" class="btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
