<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'adicionar_eletivas.css' %}">
    <link rel="stylesheet" href="{% static 'adicionar.css' %}">
</head>
<body>
    <div class="card">
        <h2>Adicionar Eletivas</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Título:</label>
                {{form.title}}
            </div>
            <div class="form-group">
                <label for="id_sub_title">Sub-título:</label>
                {{form.sub_title}}
            </div>
            <div class="form-group">
                <label for="id_description">Descrição:</label>
                {{form.description}}
            </div>
            <div class="form-group">
                <label for="id_image">Imagem:</label>
                {{form.image}}
            </div>
            <button type="submit">Salvar</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const imageInput = document.querySelector('input[type="file"]');
            const previewImage = document.getElementById('preview-image');

            imageInput.addEventListener('change', function(event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        previewImage.src = e.target.result;
                        previewImage.style.display = 'block';
                    }
                    reader.readAsDataURL(file);
                } else {
                    previewImage.style.display = 'none';
                }
            });
        });
    </script>
</body>
</html>
